body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    color: white;
    text-align: center;
}

header {
    background-color: #004d00;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;


}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
}

#home {
    background: url('https://images.unsplash.com/photo-1593712828190-556f70259bb2') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}

#home h2 {
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#about {
    text-align: center;

}

#about h2 {
    color: #ff6600;
}

#portfolio {
    text-align: center;
}

#portfolio h2 {
    color: #ff6600;
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #212121;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    background-image: url("C:\Users\johnn\OneDrive\Desktop\KUPAL2024\Download Hand holding trophy for free.jpg");
    color: #ff6600;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#contact {
    text-align: center;
}

#contact h2 {
    color: #ff6600;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 35px;
  width: 450px;
  border-radius: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

footer {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}
.nav{
    border: solid 2px;
}
